body
{
	background: #212f3d;
	font-size: 100%;
	padding: 0em;
	margin: 0em;
	font-family: Helvetica;
}

th, #th
{
	float: left;
	display: none;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	line-height: 2.5em;
	color: #fff;
	width: 100%;
	background: #2e4053;
	border: none;
	margin-top: 1.5em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

h1
{
	font-size: 2.5em;
	line-height: 3.8em;
	
	font-weight: 100;
	color: #fff;
	margin: 0em; 
}

h2
{
	display: none;
	font-size: 1.563em;
	line-height: 1.8em;
	font-weight: 100;
	color: #fff;
	margin: 0em;
	padding: 1.25em;
	text-align: left;
}

p
{
	line-height: 1.25em;
	font-weight: 100;
	color: #000;
	margin: 0em;
	padding: 1.25em;
	text-align: justify;
}

ul
{
	margin: 0em;
	padding: 0em;
}

li
{
	list-style: square;
	font-weight: 100;
	color: #000;
	margin: 0.313em 0em 0.313 0em;
	line-height: 1.25em;
	padding: 0em;
	text-align: justify;
}

img
{
	width: 90%;
	height: auto;
	max-width: 100%;
}

div
{
	display: none;
	float: left;
}

a
{
	text-decoration: none;
}

#nav
{
	display: block;
	height: 2.8em;
	background-color: #000;
	text-align: center;
	color: #fff;
}

#nav ul
{
	display: inline;
}

#nav ul li
{
	display: inline;
	margin: 0.188em 0em 0.188em;
}

#nav ul li a
{
	display: inline;
	color: #fff;
	font-size: 0.813em;
	line-height: 2.5em;
	padding: 0.563em 0.938em 0.375em 0.983em;
	-webkit-transition:background 0.2s;
	transition:background 0.2s;
	vertical-align: middle;
}

#main
{
	display: block;
	width: 70%;
	max-width: 70%;
	min-width: 70%;
	margin: 1.25em auto;
	padding: 0em;
}

#msgbox_title
{
	float: left;
	display: none;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	line-height: 2.5em;
	color: #fff;
	width: 50%;
	background: #2e4053;
	border: none;
	margin-top: 1.5em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

#error
{
	background: #f6cece;
	line-height: 2.5em;
	text-align: center;
	width: 50%;
	clear: left;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#info
{
	display: none;
	background: #fff;
	line-height: 2.5em;
	float: left;
	width: 50%;
	text-align: center;
	clear: left;
	margin-left: auto;
	margin-right: auto;
}

#td, td
{
	display: none;
	float: left;
	background: #fafafa;
	width: 50%;
	text-align: center;
	line-height: 2.5em;
}
