*
{
	box-sizing: border-box;
	vertical-align: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	border: none;
}

/* Generic Tags */

body
 {
	background: none repeat scroll 0 0 #dcdcdc;
	color: #2f2c2c;
	font-size: 100%;
}

div
{ 
	text-align: center; 
}

label
{
	display: inline;
	padding-left: 1em;
}

input
{
	margin-top: 0.375em; 
	box-shadow: 0 0 0.375em 0 rgba(56, 56, 56, 1);
}

ul, li
{
	line-height: 3.6em;
	list-style: outside none none;
	padding-left: 0.625em;
	vertical-align: middle;
}

h1
{
	font-weight: 100;
	line-height: 3em;
}

h2
{
	color: #fff;
	font-size: 1.5em;
	text-align: left;
	line-height: 2.2em;
	padding: 1.25em;
}

h3
{
	font-size: 0.394em;
	text-align: center;
	vertical-align:top;
}

textarea
{ 
	/* box-shadow: 0 0 0.375em 0 rgba(56, 56, 56, 1); */
	padding: 20px;
	text-align: justify;
	font-weight: 100;
	line-height: 1.125em;
	font-size: 0.85em;
}

a
{
	color: #fff;
	font-size: 1em;
	text-decoration: none;
}

#page
{
	border-top-right-radius: 2.5em;
	border-top-left-radius: 2.5em;
	box-shadow: 0 0 2.188em 0.625em rgba(56, 56, 56, 1);
	background: #212f3d;
}

h1, h3, #header, #nv_cbox_header, #nv_sbox_header
{
	background: none repeat scroll 0 0 #2e4053;
	line-height: 2.5em;
	color: #fff;
}

.center, #main, #nv_cbox
{
	margin-left: auto;
	margin-right: auto;
}

#nv_cbox_header, #nv_sbox_header
{

	font-size: 0.875em;
	height: 1.875em;
	width: 100%;
	text-align: center;
	list-style: none;
	border: none;
	vertical-align: middle;
	line-height: 2.0em
}

#header
{
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	font-size: 2.3em;
	text-align: center;
}

nav
{
	font-size: 0.75em;
	background: #000;
	line-height: 3.6em;
	text-align: center;
	font-weight: bold;
	transition: all 2s ease;
}

#page
{
	border-bottom-left-radius: 0.625em;
	border-bottom-right-radius: 0.625em;
}

#nv_cbox, #nv_sbox, #nv_sbox_content, #nv_cbox_content
{
	
	font-size: 0.9em;
	line-height: 2.6em;
	text-align: center;
	width: 70%;
}

#nv_cbox, #nv_sbox 
{
	margin-bottom: 2em;
	border-radius: 0.313em;
	transition: transform 0.6s ease;
}

#nv_cbox:hover, #nv_sbox:hover
{
	-webkit-font-smoothing: antialiased;
} 

#nv_cbox_content
{
	display: inline-block;
	padding: 0.375em;
	text-align: justify;
	line-height: 1.5em;
	width: 95%;
}

main
{
	display: none;
	overflow: hidden;
}


#nv_cbox, #nv_sbox, #nv_sbox_content, #nv_cbox_content, textarea
{
	background: none repeat scroll 0 0 #ffffff;	
}
